<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">



        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">

        <!-- typo CSS -->
        <link rel="stylesheet" href="/assets/css/typo.css/typo.css">
        
        <!-- markdown CSS -->
       <!--  <link rel="stylesheet" href="/assets/css/markdown.css"> -->
       
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">
        <!-- Page CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
       
    </head>
    <body >

        <div class="container typo typo-selection">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a>
              </h1> 

              <a class="extra" href="/">主页</a>

              <a class="extra" href="{{site.url}}/pages/my-projects.html">我的项目</a>

              <a class="extra" href="{{site.url}}/pages/me-say.html">梓说</a>

              <a class="extra" href="{{site.url}}/pages/about-me.html">关于我</a> 

            </div>

                {{ content }}

            <div class="footer">
     
              <div class="contact">
                <p>
                  <a href="mailto:mingzepeng@gmail.com">mingzepeng@gmail.com</a>
                  <br />
                  
                </p>
              </div>
            </div>
                         <a href="http://weibo.com/u/1177119687?s=6uyXnP" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/1177119687/95bc61d7/7.png"/></a>
          </div>
        </div> <!-- /container -->
<a href="https://github.com/mingzepeng" id="fork" target="_blank">
    <img alt="Fork me on GitHub" src="{{url}}/assets/imgs/forkme_right_darkblue.png">
</a>
    </body>
</html>
