<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
      <!--[if IE]>
         <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

        <!-- typo CSS -->
        <link rel="stylesheet" href="/assets/css/typo.css/typo.reset.css" media="screen">
        <link rel="stylesheet" href="/assets/css/typo.css/typo.css" media="screen">


          <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css" media="screen">
              
         <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css" media="screen">
        <!-- markdown CSS -->
       <!--  <link rel="stylesheet" href="/assets/css/markdown.css"> -->

 

       
    </head>
    <body>
      <div class="container" id="container">
            <header>
              <h1>{{ site.name }}</h1> 
            </header>
              <nav>
              <a class="extra" href="/">主页</a>
              <a href="{{site.url}}/archives.html">归档</a>
              <a href="{{site.url}}/pages/my-projects.html">作品</a>

              <a href="{{site.url}}/pages/me-say.html">梓说</a>

              <a href="{{site.url}}/pages/about-me.html">关于我</a> 
              </nav>
           

          <section class="content typo typo-selection">


                {{ content }}


                       <!--   <a href="http://weibo.com/u/1177119687?s=6uyXnP" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/1177119687/95bc61d7/7.png"/></a> -->
          </section>
            <footer>
     
              <div class="contact">
                  <a href="mailto:mingzepeng@gmail.com">mingzepeng@gmail.com</a>              
              </div>
            </footer>
      </div>
<a href="https://github.com/mingzepeng" class="fork" target="_blank">
    <img alt="Fork me on GitHub" src="{{url}}/assets/imgs/forkme_right_darkblue.png">
</a>
    </body>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41956630-1', 'mingzepeng.github.io');
  ga('send', 'pageview');


var parsePx = function(elem,css){
  if(window.getComputedStyle)
    return window.getComputedStyle(elem,null)[css];
  else{
    var ret=elem.currentStyle[css];
    var left=elem.style.left;
    elem.style.left=css==="fontSize"?"1em":ret;  //我们修改了该元素的left值
    ret=elem.style.pixelLeft+"px";         //pixelLeft会返回单位转换成px活的数值
    elem.style.left=left;                  //恢复left
    return ret;   
  }

};

  var nav = document.getElementsByTagName('nav')[0];
  var links = nav.getElementsByTagName('a');


var nav = document.getElementsByTagName('nav')[0];
var container = document.getElementById('container');
var flag = false;

var url = location.href;
var page = url.slice(url.lastIndexOf('/')+1);
if(page)
{
  for(var i = links.length-1; i>=0 ; i--){
  links[i].className = '';
  if(links[i].href.indexOf(page) > 0) links[i].className = 'extra'
}
}

window.onscroll = function(event){

  var scrollTop = document.body.scrollTop > 0 ? document.body.scrollTop: document.documentElement.scrollTop;
  var width = container.clientWidth;
  var style = nav.currentStyle ? nav.currentStyle : window.getComputedStyle(nav, null);

  if(scrollTop > 210) {
    if(flag) return true;
    nav.style.position = 'fixed';
    nav.style.width = width + 'px';
    nav.style.width = (width - parseInt(parsePx(nav,'paddingLeft')) - parseInt(parsePx(nav,'paddingRight')) ) + 'px'
    nav.style.top = "0px"
    flag = true;
  }else{
    if(!flag) return true;
    nav.style.position = 'static'
    nav.style.width = 'auto'
    flag = false;
  }
}



</script>